* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 6vmin;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 35.5vmin;
    border: 1px black solid;
    background-color: lightslategrey;
    padding: 1.25vmin;
}

.calculator-display {
    height: 8vmin;
    margin: 1vmin;
    border: 1px black solid;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.calculator-display p {
    margin: 0.5vmin;
    font-size: 2.5vmin;
    font-weight: bold;
}

.calculator-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vmin;
    margin: 1vmin;
}

#calculator-button-reset, 
#calculator-button-delete {
    background-color: lightcoral;
    width: 16.5vmin;
}

.calculator-button {
    width: 8vmin;
    height: 8vmin;
    font-size: 2vmin;
}

#calculator-button-add,
#calculator-button-subtract,
#calculator-button-multiply,
#calculator-button-divide {
    background-color: lightgreen;
}

#calculator-button-equals {
    background-color: lightblue;
}

#calculator-button-decimal {
    background-color: lightgoldenrodyellow;
}